* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik';
    width: 1440px;
   
}
h1{
    color: #414148;
    font-size: 40px;
    font-weight: 500;
}
p {
    color:#a2a2a7;
    margin-bottom: 20px;
}
.in {
    width: 1100px;
    margin: 0 auto;
}
#topbtn{
    color: white;
    background-color: #ee5355;
    text-align: center;
    padding: 10px 25px;
    border-radius: 5px;
}
#btn-blue{
    background-color: #5266df;
    color: #ffffff;
    text-decoration: none;
    padding:  20px 30px;
    margin-right: 10px;
    
}
#btn-gray{
    background-color: #f6f5f7;
    color: #646464;
    text-decoration: none;
    padding:  20px 30px;
}
/*header*/
header{
    width: 1440px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
nav a{
    padding-right:50px;
    color: #717173;
    text-decoration: none;
}

main {
    margin: 200px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
    height: 420px;    
}

.first-container{
    width: 500px;
    margin-left: 200px;
}
.first-container p{
    margin: 40px 0 50px 0;
    width: 450px;
}
.second-container {
    margin-left: 350px;
    position: relative;
    width: 600px;
    height: 350px;
    background-color: #5266df;
    border-radius: 150px 0px 0px 150px;
}

#img-topo {
    position: absolute;
    bottom: 100px;
    left: 750px;
}

/*features*/

.features{
    width: 600px;
    margin: 100px auto;
    text-align: center;
}
#all-features {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.features li{
    padding-bottom: 10px;
    border-bottom: 5px solid grey;
}

/*bookmark-one*/

.bookmark-one{
    margin: 200px 0 100px 0;
    display: flex;
    height: 420px; 
}
.third-container {
    position: relative;
    width: 500px;
    height: 350px;
    background-color: #5266df;
    border-radius: 0px 150px 150px 0px;
}
.fourth-container {
    width: 500px;
    margin-left:200px;
}
.fourth-container p{
    margin: 40px 0 50px 0;
    width: 400px;

}
#img-book-one{
    position: absolute;
    top: 1100px;
    left: 100px;
}
/*extensions*/

.extensions{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
#p-ext{
    margin: 30px auto;
    width: 500px;
}
.nav-ext{
    width: 800px;
    margin:50px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.nav-ext a{
    color: white;
    background-color: #5266df;
    border-radius: 5px;
    padding: 10px 20px;
}
.nav-ext p{
    margin: 20px 0 50px 0;
}
#navigators{
    box-shadow: smooth #717173;
    width: 400px;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}
#navigators h3{
    margin: 30px 0 0 0;
}
#navigators{
    padding: 50px 0;
    width: 250px;
    height: 400px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}
#navigators {
    padding: 50px 0;
    width: 250px;
    height: 400px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}