* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik';
    width: 1440px;
   
}
h1{
    color: #414148;
    font-size: 40px;
    font-weight: 500;
}
p {
    color:#a2a2a7;
    margin-bottom: 20px;
}
.in {
    width: 1100px;
    margin: 0 auto;
}
#topbtn{
    color: white;
    background-color: #ee5355;
    text-align: center;
    padding: 10px 25px;
    border-radius: 5px;
}
#btn-blue{
    background-color: #5266df;
    color: #ffffff;
    text-decoration: none;
    padding:  20px 30px;
    margin-right: 10px;
    
}
#btn-gray{
    background-color: #f6f5f7;
    color: #646464;
    text-decoration: none;
    padding:  20px 30px;
}
/*header*/
header{
    width: 1440px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
nav a{
    padding-right:50px;
    color: #717173;
    text-decoration: none;
}

main {
    margin: 200px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
    height: 420px;    
}

.first-container{
    width: 500px;
    margin-left: 200px;
}
.first-container p{
    margin: 40px 0 50px 0;
    width: 450px;
}
.second-container {
    margin-left: 350px;
    position: relative;
    width: 600px;
    height: 350px;
    background-color: #5266df;
    border-radius: 150px 0px 0px 150px;
}

#img-topo {
    position: absolute;
    bottom: 100px;
    left: 750px;
}

/*features*/

.features{
    width: 600px;
    margin: 100px auto;
    text-align: center;
}
#all-features {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.features li{
    padding-bottom: 10px;
    border-bottom: 5px solid grey;
}

/*bookmark-one*/

.bookmark-one{
    margin: 200px 0 100px 0;
    display: flex;
    height: 420px; 
}
.third-container {
    position: relative;
    width: 500px;
    height: 350px;
    background-color: #5266df;
    border-radius: 0px 150px 150px 0px;
}
.fourth-container {
    width: 500px;
    margin-left:200px;
}
.fourth-container p{
    margin: 40px 0 50px 0;
    width: 400px;

}
#img-book-one{
    position: absolute;
    top: 1100px;
    left: 100px;
}
/*extensions*/

.extensions{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    text-align: center;
}
#p-ext{
    margin: 30px auto;
    width: 500px;
}
.nav-ext{
    width: 800px;
    margin:50px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.nav-ext a{
    color: white;
    background-color: #5266df;
    border-radius: 5px;
    padding: 10px 20px;
}
.nav-ext p{
    margin: 20px 0 50px 0;
}
#navigators{
    box-shadow: smooth #717173;
    width: 400px;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}
#navigators h3{
    margin: 30px 0 0 0;
}
#navigators{
    padding: 50px 0;
    width: 250px;
    height: 400px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}
#navigators {
    padding: 50px 0;
    width: 250px;
    height: 400px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}
/*faq*/

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 100px auto;
}
.faqs h2{
    padding-bottom: 30px;
}
#p-faqs{
    text-align: center;
    width: 500px;
}
  .accordion{
    margin: 10px auto;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 25px;
    padding: 0 30px;
  }
 
  .accordion .accordion-text{
    width: 100%;
  }
  .accordion .accordion-text .faq-text{
    margin-top: 25px;
    height: 400px;
    overflow-y: auto;
  }
  .faq-text::-webkit-scrollbar{
    display: none;
  }
  .accordion .accordion-text li{
    list-style: none;
    cursor: pointer;
  }
  .accordion-text li .question-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accordion-text li .question-arrow .question{
    font-size: 18px;
    font-weight: 500;
    color: #595959;
    transition: all 0.3s ease;
  }
  .accordion-text li .question-arrow .arrow{
    font-size: 25px;
    color: #5266df;
    transition: all 0.3s ease;
  }
  .accordion-text li.showAnswer .question-arrow .arrow{
    transform: rotate(-180deg);
  }
  .accordion-text li .line{
    display: block;
    height: 2px;
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.1);
  }
  .accordion-text li p{
    width: 92%;
    font-size: 15px;
    font-weight: 500;
    color: #595959;
    display: none;
  }
  .accordion-text li.showAnswer p{
    display: block;
  }

  /*contact*/
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #5266df;
    height: 320px;
  }
  .contact h2{
    font-size: 30px;
    width: 400px;
    text-align: center;
  }
  .contact h4{
    font-weight: 400;
    margin-top: 70px;
    letter-spacing: 0.3rem;
    padding-bottom: 30px;
  }
  #email{
    padding-top: 30px;
  }
  #email input{
    padding: 15px 80px 10px 10px;
    border-radius: 5px;
  }
  #email a{
    text-decoration: none;
    background-color: #ee5558;
    color: #fff;
    padding: 11px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 15px;
  }
  input::placeholder{
    color: #dddde0;
  }

  /*footer*/
  footer {
    height: 100px;
    background-color: #242946;
    display: flex;
    padding: 0 200px;
    align-items: center;
  }
#logo-footer{
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

  footer ul{
    width: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #fff;
  }

  footer img{
    margin-right: 10px;
  }

  #social img{
    padding-left: 40px;
  
  }